<div class="row">
  <div class="col-md-10">
    <h2>Product orders</h2>
  </div>
  <div class="col-md-2">
    <div class="float-right">
      <button mat-icon-button title="New order" (click)="createProductOrder()">
        <mat-icon class="icon-new">add</mat-icon>
      </button>
      <file-downloader [formats]="fileFormats" (requestDownload)="download($event)"></file-downloader>
    </div>
  </div>
</div>
<table mat-table [dataSource]="productOrders" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element?.createdAt | date:'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="productsAmount">
    <th mat-header-cell *matHeaderCellDef> Amount of products </th>
    <td mat-cell *matCellDef="let element"> {{element?.productOrderLines?.length }} </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> Total </th>
    <td mat-cell *matCellDef="let element"> {{element?.total | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>

    <td mat-cell *matCellDef="let element">
      <button mat-icon-button title="View details" (click)="viewProductOrderDetails(element)">
        <mat-icon class="icon-new">visibility</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"></tr>
</table>